@mixin color_txt {
    color: #FFFFFF;
}
@mixin bg_orang {
    background-color: #FF4343;
    border: 0;
}
@mixin straight {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-block__dv, .header-block__dv_sdv, .head-block__dv, .features-block__dv, .ot-block__dv, .testimonials-block__dv, .testimonials-block__dv_txt, .download-block__dv, .footer-blonk__dv, .footer-blonk__dv_sdv, .footer-blonk__fdv, .footer-blonk__dv_sdv_xsdv {
    @include straight();
}
.head-block__dv_bt, .download-block__dv_bt {
    @include bg_orang();
}
.header-block__dv_txt, .head-block__dv_bt, .head-block__dv_bg, .head-block__dv_sm, .download-block__dv_bt, .footer-blonk__dv_sdv_xsdv_bg, .footer-blonk__dv_sdv_xsdv_sm {
    @include color_txt();
}